@charset "utf-8";
/* CSS Document */
@font-face {
	font-family:'TrebuchetMS-Bold';
	src: url('../font/TrebuchetMS-Bold_gdi.eot');
	src: url('../font/TrebuchetMS-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../font/TrebuchetMS-Bold_gdi.woff') format('woff'),
		url('../font/TrebuchetMS-Bold_gdi.ttf') format('truetype'),
		url('../font/TrebuchetMS-Bold_gdi.svg#TrebuchetMS-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
body{background:#f9f9f9;margin:0px;padding:0px;font-family:Arial, Helvetica, sans-serif;}
.top_right_menu li{float:left;list-style:none;padding:10px;}
.top_right_menu li a{font-size:12px;text-decoration:none;color:#777777;}
.top_right_menu li a:hover{color:#777777;}
.nav_menu {
    float: right;
}
.top_right_menu{float:right;}
.top_menu{background:#1093c1;width:100%;display:inline-block;border-bottom:2px solid #fdcd0b;}
.logo img{padding-top:15px;}
.banner_wrapper{background:url(../images/banner.jpg)no-repeat;width:100%;height:100%;background-size:cover;background-size:100% 100%;}
.banner-text{text-align:center;margin:50px auto;width:70%;}

.banner-text .h_text {
    display: block;
    font-size: 44px;
    
    padding-top:10px;
}
.h_text span:first-child{font-family:'TrebuchetMS-Regular';font-size:44px;color:#fff;text-transform:uppercase;}
.h_text span:last-child{font-size:44px;color:#f3cf20;font-family:'TrebuchetMS-Regular';text-transform:uppercase;font-weight:bold;}
.banner-text .s_text {
    color: #fff;
   font-family:Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-top:0px;
}
.search_b_g {
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
}
.b_box{width:215px;height:40px;margin-bottom:25px!important;  margin-top:25px; font-family:Arial,Helvetica,sans-serif;}
.banner_b_img {width:100%;}
.banner_b_img img {
    display: inline-block;
    position: relative;
    text-align: center;
    top: 40px;
}
.banner-text .icon_text{padding-top:8px;} 
.icon_text span:last-child{padding:0px 100px 0px 0px;float:right;}

.banner-text .button_icon{float:right;}
.b_btn span:first-child {
    background: #1093c1 none repeat scroll 0 0;
    border-top-left-radius: 4px;
    float: left;
    font-size: 16.44px;
    height: 44px;
    left: -13px;
    line-height: 43px;
    padding-left: 10px;
    position: relative;
    top: -7px;
    width: 205px;
}
.ab_head h1 span{color:#1093c1;}
.domain_content{text-transform:uppercase;font-family:'TrebuchetMS-Regular';font-size:34px;text-align:center;}
.domain_content{width:60%;margin:auto;}
.search_btn {
    background: #1093c1 none repeat scroll 0 0 !important;
    color: #fff !important;
    font-size: 24px !important;
    height: 60px;
    margin-left: 20px !important;
    text-transform: uppercase;
    width: 170px;
	   border: medium none !important;
}
.top_menu .col-md-9{padding-right:0px!important;}
.prd_box {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 3px solid #1093c1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.prd_box h2{background:#000;color:#ffda0c;font-size:22px;font-family:'TrebuchetMS-Regular';padding:10px 0px 10px 0px;border-top-left-radius: 4px;
border-top-right-radius: 4px;}
.prduct_wrap{text-align:center;}
/*.prduct_wrap h1 {
    color: #fff;
    font-family: "Roboto-Light";
    font-size: 34px;
    line-height: 23px;
    margin: 50px 0 50px;
	padding:0px 0px 22px 0px;
    text-transform: uppercase;
	border-bottom:1px solid #b9b8b8;
	display:inline-block;
}
.prduct_wrap h1 {
    background: rgba(0, 0, 0, 0) url("../images/border_icon.png") no-repeat scroll center 53px;
    display: inline-block;
  
    position: relative;
    z-index: 999;
}*/
.prduct_wrap h1 {
    background: rgba(0, 0, 0, 0) url("../images/border_icon.png") no-repeat scroll center 49px;
    display: inline-block;
    margin: 0 0 -3px;
    padding-bottom: 19px;
    position: relative;
    z-index: 999;
	 color: #fff;
 font-family:'TrebuchetMS-Regular';
    font-size: 34px;
	    text-transform: uppercase;
}
.prduct_wrap {
    border-bottom: 1px solid #333;
    display: inline-block;
    line-height: 23px;
    margin: 54px 0 42px;
    padding: 0 !important;
}
.our_pack{background: #09769c none repeat scroll 0 0;width:100%;}
.domain_wrap{background:url(../images/search_back.png)no-repeat;width:100%;background-size:cover;}
.prudct_box {
    text-align: center;
	display:inline-block;
	margin-bottom:60px;
}
.btn.btn-danger.b_box span:first-child {
    background: #1093c1 none repeat scroll 0 0;
    border-top-left-radius: 3px;
    float: left;
    height: 37px;
    left: -13px;
    line-height: 35px;
    padding-left: 0;
    position: relative;
    top: -7px;
    width: 175px;
}
.banner_wrapper .button_icon {
    float: right;
    margin: 0;
    padding-right: 3px;
    padding-top: 5px;
    text-align: right;
}
.button_icon {
    float: right;
    margin: 0;
    padding-right: 3px;
    padding-top: 0px;
    text-align: right;
}
.or_cl p{padding-top:18px;}
a.bx-prev {
  display: none;
}
a.bx-next {
  display: none;
}
.s1 li{float:left;list-style:none;padding:4px 0px 4px 0px;}
.marquee {
  width: 780px;
  overflow: hidden;
 
  
}
.cl_logo {
  float: left;
  border:none;
}
ul.s1 {
  margin: 0px;
  padding: 0px;
}
.btn.btn-danger.box_button span:first-child {
    background:#1093c1 none repeat scroll 0 0;
    border-top-left-radius: 3px;
    float: left;
    height: 38px;
    left: -12px;
    line-height: 35px;
    padding-left: 0;
    position: relative;
    top: -6px;
    width: 175px;
    font-weight: bold;
}
.prd_box h1 {
    color: #1093c1;
 font-family:'TrebuchetMS-Regular';
    font-size: 42px;
    line-height: 9px;
    padding: 0;
}
.prd_box h1 span{font-size:34px;font-family:'TrebuchetMS-Regular';color:#1093c1;}
.prd_box h1 sub{font-size:15px;color:#1d1717;font-family:'TrebuchetMS-Regular';}
.prd_box .st_1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'arial';
}
.d_s1 {
    border-bottom: 1px solid #333;
    display: inline-block;
    line-height: 23px;
    margin: 42px 0 30px;
    padding: 0 !important;
}
.our_wrap {
    display: inline-block;
    margin-bottom: 68px;
    text-align: center;
}
.our_service{background:url(../images/service_bg.png)no-repeat;width:100%;display:inline-block;background-size:cover;}
.our_clss{background:#1093c1; border-radius: 4px;}
.our_clss h2 {
    color: #fff;
 font-family:'TrebuchetMS-Regular';
    font-size: 18px;
 
    /*line-height: 12px;*/
    padding-top: 26px;
    min-height: 66px;
    line-height: 20px;
}
.our_clss p {
    color: #fff;
 font-family:'TrebuchetMS-Regular';
    font-size: 14px;
    line-height: 30px;
    padding-top: 22px;
	font-weight: bold;
}
.our_cl p{  color: #333;
     font-family:Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 30px;
   letter-spacing:0.5px;
	font-weight: bold;}
	.our_cl .st_1 {
    line-height:7px;
	 font-family:Arial,Helvetica,sans-serif;
	 letter-spacing:1px;
}
.table_Tab li a{}
.table_Tab li a:hover{}
/*table*/
.compare-table {
    margin-top: 0;
    width: 100%;
}
.compare-table h2{
margin-bottom: 40px;
margin-top: 0;
font-size: 4rem;
text-transform: uppercase;
font-family:'TrebuchetMS-Regular';
font-weight: 300;
line-height: 1.1;
color: #333;
}
.compare-table h4{
margin-bottom: 10px;
margin-top: 10px;
font-size: 24px;
text-transform: uppercase;
font-family:'TrebuchetMS-Regular';
font-weight: 300;
line-height: 1.1;
color: #333;
}
.tb_heding{border-bottom:1px solid #333;
    display:inline-block;
    line-height: 23px;
    margin: 42px 0 0;
    padding: 0 !important;}
	.tab_menu.tab_heading_h {
    text-align: center;
}
.tab_heading_h h1 {
    background: rgba(0, 0, 0, 0) url("../images/border_icon.png") no-repeat scroll center 21px;
    color: #05779f;
    display: inline-block;
    font-family:'TrebuchetMS-Regular';
    font-size: 34px;
    line-height: 0;
    margin: 11px 0 -3px;
    padding-bottom: 28px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 999;
}
.tab-content {
    border: 1px solid  #05779f;
    display: inline-block !important;
    margin: 22px 0;
    width: 100%;
}
	.table_Tab li{list-style:none;padding:0px 0px 0px 10px!important;float:left;}
	.tab_hd a{font-size:24px!important;color:#1093c1!important;background:none!important;border:none!important;}
	.tab_hd a:hover{background:none!important;border:none!important;}
.heading_td td:first-child{width:23%;padding-left:0;padding-bottom: 0;border-bottom:1px solid #333;}
.heading_td td:nth-child(2n){width:15%; border-bottom:8px solid #a6a6a6;}
.heading_td td:nth-child(3n){width:15%; border-bottom:8px solid #f47f00; background-color:transparent;}
.heading_td td:nth-child(4n){width:15%; border-bottom:8px solid #7abf4b;}
.heading_td td:nth-child(5n){width:15%; border-bottom:8px solid #58585a; background-color:transparent}
.compare-table tr td:first-child {
text-align: left;
border-left: 0;
padding-left: 20px;
font-size:14px;
 font-family:Arial,Helvetica,sans-serif;
}
.compare-table td span {
  font-size:14px;
   font-family:Arial,Helvetica,sans-serif;
}
.compare-table tr td:nth-child(3n+3) {
background-color: #f3f3f3;
}
.compare-table tr td:nth-child(5n+5) {
background-color: #f3f3f3;
}
.compare-table thead tr:first-child td {
border-style: none;
}
.compare-table thead tr td {
vertical-align: bottom;
}
.compare-table th {
padding: 20px 0;
font-weight: normal;
}
.compare-table th:first-child {
width: 30%;
padding-left: 20px;
}
.compare-table td {
text-align: center;
white-space: normal;
padding: 15px;

border: 1px solid #e8e8e8;
}
.compare-table td:last-child {
border-right: 0;
}
.compare-table td:not(:first-child){
max-width: 150px;
}
.compare-chart-pro {
padding-top: 70px;
padding-bottom: 70px;
}

.compare-chart-pro {
padding-top: 40px;
padding-bottom: 40px;
}

.compare-chart-pro[class*="bg-"] .container {
background-color: #fff;
-webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
padding-top: 40px;
padding-bottom: 100px;
}
.compare-chart-pro h2 {
margin-bottom: 40px;
}
.compare-chart-pro table {
width: 100%;
}
.compare-chart-pro table tr th {
padding: 20px 0;
font-weight: normal;
}
.compare-chart-pro table tr th:first-child {
width: 30%;
padding-left: 20px;
}
.compare-chart-pro table tr td {
text-align: center;
white-space: normal;
padding: 15px;
height: 80px;
border: 1px solid #e8e8e8;
}
.compare-chart-pro table tr td:first-child {
text-align: left;
border-left: 0;
padding-left: 20px;
}
.compare-chart-pro table tr td:last-child {
border-right: 0;
}
.compare-chart-pro table tr td[class*="bg-"]:not(.bg-pro-gray) {
background-color: #77c043;
color: #333333;
border: 1px solid #6baf3b;
}
.compare-chart-pro table tr td:not(:first-child) {
max-width: 150px;
}
.compare-chart-pro .compare-chart-header {
text-align: center;
}
.compare-chart-pro .compare-chart-header .sf-tipper-target {
background-image: url(https://img1.wsimg.com/fos/hp/sahara-rebrand-sprite-20141114.png);
background-position: 0 -1069px;
width: 14px;
height: 14px;
display: inline-block;
background-size: 205px auto;
vertical-align: baseline;
}
.compare-chart-pro .compare-column-title {
font-family:'TrebuchetMS-Regular';
text-transform: uppercase;
}
.compare-chart-pro .compare-chart-footer {
margin-top: 10px;
float: right;
font-size: 13px;
font-size: 1.3rem;
color: #808080;
}
.compare-chart-pro .compare-chart-view-all {
text-align: center;
margin-top: 50px;
cursor: pointer;
margin-bottom: -144px;
}
.compare-chart-pro .compare-chart-view-all .arrow-down-icon {
margin-top: 10px;
}
.compare-chart-pro .compare-chart-img {
height: 70px;
margin-bottom: 15px;
}
.compare-chart-pro .compare-chart-img img {
max-height: 65px;
max-width: 120px;
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%);
}
.compare-chart-pro .compare-chart-asterisk {
position: relative;
bottom: 20px;
left: 5px;
}
.icon {
background-image: url(https://img1.wsimg.com/fos/hp/sahara-rebrand-sprite-20141114.png);
display: inline-block;
background-size: 205px auto;
}
.icon.jump-arrow-icon,
.icon.arrow-down-icon {
background-position: 0 -321px;
width: 95px;
height: 95px;
}
.icon.gray-check-icon {
background-position: 0 -606px;
width: 25px;
height: 27px;
}
.bg-pro-gray {
background-color: #e8e8e8;
}
.compare-nav-tabs {
margin-bottom: -1px;
color: #333;
font-size: 23px;
font-family:'TrebuchetMS-Regular';
}
.compare-nav-tabs li {
text-align: center;
}

/*table_end*/
.our_cl:hover{background:#1093c1;}
.our_cl:hover h1,.our_cl:hover h1 span{color:#ffcc00!important;}
.our_cl:hover span,.our_cl:hover sub{color:#fff;}
.our_cl:hover .b_box {
    background: #cfa705 none repeat scroll 0 0;
    border: medium none;
    color: #7c6506;}
	.our_cl:hover .read{
    background:#ffcc00!important;height: 38px!important;   margin: 1px;color: #7c6506;}
.our_cl:hover h2,.our_cl:hover p{color:#fff;}
.our_cl h1 span{font-size:34px;font-family:'TrebuchetMS-Regular';color:#1093c1;}
.our_clss .st_1{font-size:15px;font-family:'TrebuchetMS-Regular';color:#fff;  line-height: 7px;}
.our_clss h1 sub{font-size:15px;font-family:'TrebuchetMS-Regular';color:#fff;line-height:20px;}
.our_clss h1{color:#ffcc00;font-size:42px;line-height:20px;}
.our_clss h1 span{font-size:34px;font-family:'TrebuchetMS-Regular';color:#ffcc00;}
.our_clss .b_box:hover{background:#cfa705;color:#7c6506;}
.our_clss .b_box{background:#cfa705;border:none;font-size:16px;color:#7c6506;font-family:'TrebuchetMS-Regular';}
.our_cl h2 {
    color: #1093c1;
  font-family:Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 18px;
    padding: 25px 15px 0px 15px;
}
.our_cl {
    background: #fff none repeat scroll 0 0;font-family:'TrebuchetMS-Regular';border-radius:4px;box-shadow: -2px -1px 9px #999,2px 2px 9px #999;
}
.our_cl h1 sub {
    color: #555555;
    display: block;
   font-family:'TrebuchetMS-Regular';
    font-size: 15px;
/*    line-height: 14px;*/
    line-height: 26px;
    padding-top: 5px;
}
.our_cl h1{color:#1093c1;font-size:42px;line-height:20px;font-family:'TrebuchetMS-Regular';}
.our_cl .b_box{font-size:15px; letter-spacing:0.5px;}
.our_s2 h1 {
    background: rgba(0, 0, 0, 0) url("../images/border_icon.png") no-repeat scroll center 49px;
    display: inline-block;
    margin: 0 0 -3px;
    padding-bottom: 19px;
    position: relative;
    z-index: 999;
	font-size:34px;color:#333;font-family:'TrebuchetMS-Regular';text-transform:uppercase;
}
.our_s2  {
    border-bottom: 1px solid #333;
    display: inline-block;
    line-height: 23px;
    margin: 42px 0 48px;
    padding: 0 !important;
}
/*.our_s2 h1{font-size:34px;color:#333;    font-family: "Roboto-Light";margin:50px 0px 50px 0px;text-transform:uppercase;display:inline-block;	padding:0px 0px 22px 0px;border-bottom:1px solid #b9b8b8;}*/
.de_li_wrapper{background:#1093c1;width:100%;display:inline-block;}
.lin_server, .window_server {
  background: #fff;
  display: inline-block;
  width: 75%;
  margin: 25px 0px 25px;
  text-align: center;
  box-shadow:0 2px 7px -3px rgba(0,0,0,0.3);
}
.lin_server:hover,.window_server:hover{background:#fdcd0b;color:#000;}
.lin_server p,.window_server p{color:##05779f;font-size:25px;font-family:'TrebuchetMS-Regular';  padding: 12px 0px 12px 0px;margin:0px;}
.window_server.active, .lin_server.active{
    background: #fdcd0b;
    color: #000;
}

.window_server.active:after
{
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFFFFF;
  position: absolute;
  height: 0;
  width: 0;
  bottom: -1px;
  left:46%;
}
.lin_server.active:after {
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFFFFF;
  position: absolute;
  height: 0;
  width: 0;
  bottom: -1px;
  left:46%;
}
.window_server img {
  padding-right: 15px;
}
.lin_server,.window_server {
  border-radius: 20px;
}
.lin_server img {
  padding-right: 10px;
}

.ab_head h1 {
    background: rgba(0, 0, 0, 0) url("../images/border_icon.png") no-repeat scroll center 52px;
    display: inline-block;
    margin: 0 0 -3px;
    padding-bottom: 19px;
    position: relative;
    z-index: 999;
	font-size:34px;color:#333;font-family:'TrebuchetMS-Regular';padding:0px 0px 22px 0px;text-transform:uppercase;
}
.ab_head {
    border-bottom: 1px solid #333;
    display: inline-block;
    line-height: 23px;
    margin: 45px 0 30px;
    padding: 0 !important;
}
.text_about {
    color: #555555;
  font-family:Arial,Helvetica,sans-serif;
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 23px;
    text-align: center;
}
.right_ab p {
    padding-left: 25px;
    font-size: 23px;
    color: #1093c1;
   font-family:'TrebuchetMS-Regular';
    text-align: left;
}
.ab_box {
    display: inline-block;
    margin-bottom:28px;
    margin-top:40px;
    width: 100%;
}
.our_head h1 {
    background: rgba(0, 0, 0, 0) url("../images/border_icon.png") no-repeat scroll center 49px;
    display: inline-block;
    margin: 0 0 -3px;
    padding-bottom: 19px;
    position: relative;
    z-index: 999;
	font-size:34px;color:#09769c;font-family:'TrebuchetMS-Regular';text-transform:uppercase;	
}
.our_head {
    border-bottom: 1px solid #333;
    display: inline-block;
    line-height: 23px;
    margin: 60px 0 65px;
    padding: 0 !important;
}
.h_text{color:#fff;font-family:'TrebuchetMS-Regular';}
.pf_gallery > a:first-child {
    background: #1093c1 none repeat scroll 0 0;
    float: left;
    padding-bottom: 17px;
    width: 100%;
}
.h_text span{color:#f3cf20!important;}
.portfolio_wrap{/*background:url(../images/portfolio_back_bg.png)repeat;*/width:100%;background:#f3f3f3;display:inline-block;}
.pf_gallery h1 {
    background: #09769c none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: "TrebuchetMS-Regular";
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
.pf_gallery strong {
  background-color:#1093c1;
  color:#fff;
  padding: 5px 15px;
  line-height:0px;
  border-radius:6px;
   font-family:'TrebuchetMS-Regular';
   letter-spacing: 0.5px;
  font-weight: normal;
}
.pf_gallery{background:#fff;text-align:center;border-bottom:4px solid #646464;}
.pf_gallery img {
  padding-top: 15px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s;
}
.pf_gallery img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.pf_gallery ul li:last-child a {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family:Arial,Helvetica,sans-serif;
}
.pf_gallery ul li {
    background: rgba(0, 0, 0, 0.05) url("../images/li_icon.png") no-repeat scroll 9px 13px;
    border-bottom: 1px solid #e6e6e6;
    color: #777;
     font-family:Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.5px;
    list-style: outside none none;
    margin-bottom: 1px;
    padding: 10px 30px;
    text-align: left;
}


.nav-tabs li a{font-family:Arial,Helvetica,sans-serif;}
.icon_arrow {
    display:none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/li_icon.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 12px;
    margin-top: 5px;
    padding: 0 27px 0 0;
    width: 14px;
    z-index: 999999;
}
.pf_gallery > ul {
    margin: 0;
    padding: 0 0 8px;
    width: 257px;
}
.pf_gallery ul li:last-child {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-bottom: none;
  padding-top: 15px;
}


.port_box_wrap{margin-bottom:65px;display:inline-block;}
.start_img{background:url(../images/click_button.png)no-repeat;width:100%;height:81px;}
.start_img {
    color: #fff;
   font-family:'TrebuchetMS-Regular';
    font-size: 24px;
    line-height: 80px;
    padding-right: 20px;
    text-align: center;
    text-transform: uppercase;
}
.cl_logo{float:left;}
.cl_logo img{float:left;margin-right:3px;}
.our_client .col-md-3{width:26%!important;}
.our_client{margin:44px 0px 44px 0px;display:inline-block;width:100%;}
.footer .col-md-2{width:20%!important;}
.f_text_link h1{color: #ffffff;
    font-family:'TrebuchetMS-Regular';
    font-size: 18px;
    padding-left: 0px;}
.footer_wrapper{
    background:#333;
    width:100%;
    float: left;
}
.footer {
    margin-top: 22px;
    padding: 0;
}
.bottm_menu {
    padding: 25px 0 20px;color:#333!important;
	font-size:13px;text-decoration:none;font-family:'TrebuchetMS-Regular';
}
.list-group-item a{text-decoration:none;color:#ccc!important;font-size:14px; font-family:Arial,Helvetica,sans-serif;}
.list-group-item a:hover{text-decoration:none;color:#fff!important;font-size:14px; font-family:Arial,Helvetica,sans-serif;transition: all 0.3s ease 0s; }
.button_wrap .input-group input{
    float: left !important;
    margin: 0 10px 0 0;
    width: 70% !important;
	height:40px;
}
.button_wrap .input-group button{float:left;width:103px!important;height:40px;background:#ffda0c!important;color:#665704;border-radius:0;border:none;}
.icon_ff ul{float:right;margin-right:64px;}
.icon_ff {
    color: #fff;
    float: right;
   font-family:'TrebuchetMS-Regular';
    font-size: 15px;
    margin-top: 36px;
}
.icon_ff li{float:left;padding-left:10px;list-style:none;}
.copy_right {
    text-align: center;
	color:#333!important;
	font-size:14px;
}
.breadcrumb li a{color:#333!important;
	font-size:13px;text-decoration:none;font-family:'TrebuchetMS-Regular';}
	.icon_top{background:url(../images/live_icon.png)no-repeat;width:13px;height:13px;float:left; padding: 9px;
    position: relative;
    top: 5px;}
	.icon_top1{background:url(../images/tut_icon.png)no-repeat;width:13px;height:13px;float:left; padding:9px;
    position: relative;
    top: 5px;}
	.icon_top2{background:url(../images/blog_icon.png)no-repeat;width:13px;height:13px;float:left; padding:9px;
    position: relative;
    top: 5px;}
	.icon_top3{background:url(../images/client_icon.png)no-repeat;width:13px;height:13px;float:left; padding: 9px;
    position: relative;
    top: 5px;}
	.icon_top4{background:url(../images/call_icon.png)no-repeat;width:13px;height:13px;float:left; padding: 10px;
    position: relative;
    top: 5px;}

.about_content {
    text-align: center;
    width: 100%;
}
.our_port {
    text-align: center;
    width: 100%;
}
.d_s1 h1 {
    background: rgba(0, 0, 0, 0) url("../images/border_icon.png") no-repeat scroll center 53px;
    display: inline-block;
    margin: 0 0 -3px;
    padding-bottom: 19px;
    position: relative;
    z-index: 999;
	font-family:'TrebuchetMS-Regular';
}
.ft_middle {
    display: inline-block;
    margin-bottom: 32px;
    width: 100%;
}
.our_wrap_box,.our_ss_wrap{width:100%}

/******** Custom css changes **********/
.input-xlarge {
    width: 100%;
}
input, textarea, select, .uneditable-input {
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.control-group{
    margin-bottom: 9px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}
label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

.prd_box p{
    padding: 10px;
  font-family: 'arial';
}

.search_b_g input[type="text"],.search_b_g select{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.slider1 li {
    width: auto !important;
}

.media-left img {
-webkit-transition: all 0.7s ease;
transition: all 0.7s;
padding: 10px 0px 0px 10px;
}
.media-left img:hover{
-webkit-transform: scale(1.2);
transform: scale(1.2);
}

/*domain*/

.domain_container{width:940px;margin:auto;padding:0px;}
.banner_d_wrapper{background:url(../images/domain_header.png)no-repeat;width:100%;height:230px;}
.banner-domain p{text-align:center;padding-top:100px;}
.banner-domain span:first-child{color:#fad413;font-size:44px;font-family:'TrebuchetMS-Regular';font-weight: bold;}
.banner-domain span:last-child{color:#fff;font-size:44px;font-family:'TrebuchetMS-Regular';}
.d_input{margin:auto;margin-right:20px;}
.content_wrapper {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
}
.find_domain{background:url(../images/rgt_bg.png)no-repeat center top; display: inline-block;
    width: 100%;height:370px;background-size:cover;}
.search_domian{
    display: inline-block;
    margin-top:33px;
	 width: 100%;
}
.menu_input li{floaT:left;list-style:none;padding:10px 26px 10px 26px}
.menu_input li a{text-decoration:none; font-size:14px;color:#605f5e; font-family:Arial,Helvetica,sans-serif;}
.menu_input {
    margin: auto;
    width: 55%;
}
.left_bar,.right_bar {
    padding-left: 35px;
}
.left_bar li,.right_bar li{list-style:none;font-size:15px;color:#444; font-family:Arial,Helvetica,sans-serif;}
.left_bar ul,.right_bar ul{padding:0px;margin:0px;}
.r_arrow{ background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/li_icon.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 12px;
    margin-top: 5px;
    padding: 0 27px 0 0;
    width: 14px;
    z-index: 999999;}
	.d_m_wrap{width:83%;margin:auto;}
	.input-group.d_input .www_link {
    float: left;
    font-size: 34px;
    padding-right: 10px;
	color:#057ca5;
	font-family:'TrebuchetMS-Regular';
}
.register_wrap img{padding-left:35px;}
.find_domain .heading {
    color: #fad413;
    font-size: 26px;
    line-height:50px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
	font-family:'TrebuchetMS-Regular';
}
.table .th_head {
    background: none repeat scroll 0 0 #057ca5;
	color:#fad413;
	font-size:15px;
	 font-family:Arial,Helvetica,sans-serif;
	 letter-spacing:0.6px;
	 text-shadow:none;
}
.table .tr_head{background:#f3f9fb;font-size:14px;color:#444444; font-family:Arial,Helvetica,sans-serif;}
.table .tr2_head{background:#e0eff5;font-size:14px;color:#444444; font-family:Arial,Helvetica,sans-serif;}
.table_td h1{font-size:26px;color:#333; font-family:Arial,Helvetica,sans-serif;}
.table_td{margin-top:25px;}
.domain_c{ border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;}
/*dedicate_server*/
.server-container{width:1040px;margin:auto;padding:0px;}
.banner_server_wrapper{background:url(../images/dadicated_bg.png)no-repeat;width:100%;}
.banner-server{text-align:center;}
.banner_text span:first-child{color:#fad413;font-size:44px; font-family:Arial,Helvetica,sans-serif;font-weight: bold;text-transform: uppercase;}
.banner_text span:last-child{color:#fff;font-size:44px; font-family:Arial,Helvetica,sans-serif;text-transform: uppercase;}

.banner_text p {
    line-height: 18px;
	padding-top:80px;
}
.banner_text h4 {
    color: #fff;
  font-family:'TrebuchetMS-Regular';
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding-bottom: 65px;
    padding-top: 6px;
}
.heading_wrap{background:#ededed;width:100%;display: inline-block;}
.heading_text span {
    color: #666;
    display: inline-block;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height:25px;
    padding-bottom: 18px;
}
.heading_text h2 {
    color: #333;
  font-family:'TrebuchetMS-Regular';
    font-size: 25px;
    line-height: 20px;
    margin: 0;
    padding-top: 20px;
}
.ser_arrow {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/s_ok.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    margin-top: 0px;
    padding: 0 35px 0 0;
    width: 14px;
    z-index: 999999;
}
.plan_text li{list-style:none; padding-top: 13px;margin:0px; font-family:Arial,Helvetica,sans-serif;}
.plan_text > ul {
    margin: 0;
    padding: 0 0 30px 15px;
}
.server_basic h1{color:#fff;font-size:30px;font-family:'TrebuchetMS-Regular';text-align:center;background:#1093c1;border-bottom:2px solid #05779f;
padding:20px 0px 20px 0px;border-top-left-radius:4px;border-top-right-radius:4px;margin:0px;}
.server_basic {
    background: none repeat scroll 0 0 #ededed;
    border: 1px solid #777;
    border-radius: 4px;
    display: inline-block;
    margin-top:35px;
   
}
.server_box {
    display: inline-block;
    margin: 0;
    width: 100%;
}
.img_box_s {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/d_galllery_img.png");
    background-origin: padding-box;
    background-position: center bottom !important;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: none !important;
    height: 125px;
    position: relative;
    top: 57px;
    width: 100%;
	text-align: center;
}
.img_box_s .se_1 {
    color: #fff;
    display: block;
     font-family:Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
   line-height: 7px;
    padding: 25px 53px 0 0;
	letter-spacing:0.5px;
}
.img_box_s > h2 {
    line-height: 26px;
    margin: 0;
    padding-top: 20px;
}
.server_basic h1 span{color:#fad413;}
.img_box_s h2 span{
/*    font-size:58px;*/
    font-size:22px;
    color:#fad413;
    font-family:'TrebuchetMS-Regular'; 
    letter-spacing: 2px;
}
.img_box_s h2 sub{font-size:15px;color:#fad413;font-family: "Roboto-Medium";}
.server_b{background:#c19e0f!important;border:1px solid #c19e0f!important;height:48px!important;width:200px!important;}
.server_b span:first-child{background:#ffcc00!important;color:#7c6506;font-size:18px;line-height:43px!important;	height:45px!important;width:160px!important;
 font-family:Arial,Helvetica,sans-serif;}
.heading_bg {
    background: url("../images/dd_heading.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 25px;
    height: 50px;
    line-height: 32px;
    text-align: center;
    width: 100%;
	font-family:'TrebuchetMS-Regular';
	margin-top: 52px;
}
.server_img_box {
    width: 98%;
}
.server_ded_box {
    display: inline-block;
    padding-top: 40px;
    width: 100%;
}
.server_icon_box{width:100%;padding-top:30px;}
.heding_icon img {
    padding-right: 10px;
}
.heding_icon{color:#05779f;font-size:18px;font-family:'TrebuchetMS-Regular';}
.text_box {
   
    font-size: 13px;
    padding-top: 5px;
 color:#6e7273;
   font-family:Arial,Helvetica,sans-serif;
     padding-right: 30px;
}
.feature_service {
    background: none repeat scroll 0 0 #f0f0f0;
    display: inline-block;
    width: 100%;
	margin-top:0px;
	
}
.services_wrap{padding-bottom:55px;display:inline-block;}
.th_head_server{background:#05779f;color:#fad413;font-family:'TrebuchetMS-Regular';}
.table .tr_heading{ background: none repeat scroll 0 0 #f3f9fb;
    color: #444444;
    font-family:'TrebuchetMS-Regular';
    font-size: 14px;}
.table .tr2_text {
    background: none repeat scroll 0 0 #e0eff5;
    color: #444444;
    font-family:'TrebuchetMS-Regular';
    font-size: 14px;
}
.table .tr_heading td:first-child{background:#05779f;color:#fff;}
.table .tr2_text td:first-child{background:#05779f;color:#fff;padding: 7px 0 0 !important;}
.table_server{border:2px solid #045e7e;}
.table_plan h1{text-align:center; line-height: 0px;
    padding: 50px 0 40px;display:block;color:#333333;font-size:34px;font-family:'TrebuchetMS-Regular';text-transform: uppercase;}

.tr_heading span{color:#05779f;font-size:15px;font-family:'TrebuchetMS-Regular';}
.tr2_text span{color:#05779f;font-size:15px;font-family:'TrebuchetMS-Regular';}
.tr_text span{color:#c8ac48;font-size:22px;font-family:'TrebuchetMS-Regular';;}
.tr_text sub{color:#444444;font-size:14px;font-family:'TrebuchetMS-Regular';}

.our_wrap_box .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
}
.our_ss_wrap .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
}
.port_box_wrap .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
}
.welcomebox {
    float: left;
    width: 940px;
	/*
    background: url(../images/box1bg.png) repeat-x left top #fff;
    box-shadow: 0px 5px 5px #cacdd1;
    padding: 18px 20px;*/
    margin-bottom: 20px;
    margin-top: 26px;
}
.shared-text_hosting,.dedicated_text_table{
    float: left;
    width:100%;
    background: url(../images/box1bg.png) repeat-x left top #fff;
    box-shadow: 0px 5px 5px #cacdd1;
    padding: 18px 20px;
    margin-bottom: 20px;
    margin-top: 26px;
}
.reseller-text_hosting{float: left;
    width:100%;
    background: url(../images/box1bg.png) repeat-x left top #fff;
    box-shadow: 0px 5px 5px #cacdd1;
    padding: 18px 20px;
    margin-bottom: 20px;
    margin-top: 26px;}
	
.reseller-text_hosting h1{  font-size:24px;
  letter-spacing: -0.02em;
  margin: 15px 0;
  padding: 10px 0 0;
  font-family:'TrebuchetMS-Regular';
  color: #05779f;}	
  .reseller-text_hosting p{
  font-size: 13px;
  line-height: 21px;
  margin: 0;
  padding: 0;
   font-family:Arial,Helvetica,sans-serif;
  color: #6f6f6f;
  letter-spacing: 0.5px;
}
.styled_title h1 {
  font-family:Arial,Helvetica,sans-serif;
}
.dedicated_text_table h1,.dedicated_text_table h2,.dedicated_text_table h3 {
   font-size:28px;
  letter-spacing: -0.02em;
  margin: 15px 0;
  padding: 10px 0 0;
  font-family:'TrebuchetMS-Regular';
  color:#05779f;
}
.shared-text_hosting h1 {
   font-size: 32px;
  letter-spacing: -0.02em;
  margin: 15px 0;
  padding: 10px 0 0;
  font-family:'TrebuchetMS-Regular';
  color: #05779f;
}
#click_shared a,.reseller-text_hosting h4 a, .dedicated_text_table h4 a, .shared-text_hosting h4 a {
    background: #05779f none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: inline;
   font-family:'TrebuchetMS-Regular';
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 10px 26px;
    text-decoration: none;
}
#click_shared a:hover,.reseller-text_hosting h4 a:hover, .dedicated_text_table h4 a:hover, .shared-text_hosting h4 a:hover{
  color:#fdcd0b!important;
}
.dedicated_img img {
  padding-top: 45px;
}
.dedicated_text_table p{
  font-size: 13px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  font-family:Arial,Helvetica,sans-serif;
  color: #6f6f6f;
  letter-spacing: 0.5px;
}
.shared-text_hosting p {
  font-size: 13px;
  line-height: 21px;
  margin: 0;
  padding: 0;
   font-family:Arial,Helvetica,sans-serif;
  color: #6f6f6f;
  letter-spacing: 0.5px;
}
.welcomebox h1 {
    font-size:24px;
    letter-spacing: -0.02em;
    margin: 15px 0;
    padding: 10px 0 0;
   font-family:'TrebuchetMS-Regular';
    color:#05779f;
}

.welcomebox p {
    font-size:13px;
    line-height:18px;
    margin:0;
    padding:0;
    font-family:Arial,Helvetica,sans-serif;
    color:#6f6f6f;
}
.wlb span{letter-spacing:0.9px;}
.career h3 {
  color:#1093C1;
  font-size:18px;
  font-weight:bold;
  text-shadow:none!important;
  letter-spacing:0.5px;
  text-align:justify;
   font-family:'TrebuchetMS-Regular';
}
.welcomebox .wel_come {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  background-color: #1093c1;
   line-height: 35px;
  padding: 3px 25px;
  border-radius: 6px;
  text-align: justify;
  letter-spacing: 1px;
  font-family:'TrebuchetMS-Regular';
}
.wel_box h3 {
  color:#1093C1;
  font-size:19px;
  font-weight:bold;
  letter-spacing:0.5px;
  font-family:'TrebuchetMS-Regular';
  text-align:justify;
  text-shadow:none!important;
}
.server_box .col-md-6{padding:0px 15px!important;}
.dedicated_click,h4#click_shared {
  text-align: center;
  padding-top: 15px;
}
.welcomebox ul {
    padding: 0;
}
.welcomebox ul li {
    background: url("../images/tickmark.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #777;
    list-style: none outside none;
    padding: 5px 0 5px 20px;
	font-family:'TrebuchetMS-Regular';
}
.welcomebox h2 {
    color: #7f7f7f;
    font-family:'TrebuchetMS-Regular';
    letter-spacing: -0.02em;
    margin: 0 0 20px;
	font-size:18px;
}
.welcomebox .leftbox {
    float: left;
    margin: 0 20px 0 0;
    min-height: 80px;
    width: 434px;
}
.welcomebox .rightbox {
    float: right;
    margin: -65px 0 0;
    width: 445px;
}

.orange {
    color: #ff8500;
}

.welcomebox ul img {
    float: right;
    padding: 0 20px 0 0;
}

.addons_wrapper {
  background: url(../images/search_back.png)no-repeat;
  width: 100%;
  background-size: cover;
  display:inline-block;
  background-size: 100% 100%;
    margin: 15px 0px 0px 0px;
}
.add_box h1 {
  
 background: rgba(0, 0, 0, 0) url("../images/border_icon.png") no-repeat scroll center 49px;
  display: inline-block;
  margin: 0 0 -3px;
  padding-bottom: 19px;
  position: relative;
  z-index: 999;
  font-size: 34px;
  color: #333;
 font-family:'TrebuchetMS-Regular';
  text-transform: uppercase;
}
.add_box {
  width: 100%;
  display: inline-block;
  text-align: CENTER;
}
.add_heading{  border-bottom: 1px solid #333;
  display: inline-block;
  line-height: 23px;
  margin: 42px 0 0px;
  padding: 0 !important;}
  
.add_d_plans,.add_plans {
  background: #fff none repeat scroll 0 0;
  font-family:'TrebuchetMS-Regular';
  border-radius: 4px;
  box-shadow: -2px -1px 9px #999,2px 2px 9px #999;
    margin:5px;
}
.add_box_gallery {
  padding: 38px 0px 50px 0px;
  display: inline-block;
  width: 100%;
}
.add_box_gallery .col-md-3{padding:0px 15px;}
  .add_d_plans h1,.add_plans h1{ font-family:'TrebuchetMS-Regular';font-size:22px;color:#000;  margin: 0px;
  padding: 20px 0px 5px 0px;}
  .add_d_plans{
    margin: auto;
    text-align: center;
   
}
.add_plans {
    margin: auto;
    text-align: center;
    width: 60%;
}

.add_d_plans h2,.add_plans h2{  color: #1093c1;
   font-family:Arial,Helvetica,sans-serif;
  font-size: 42px;  margin: 0px;
  padding: 10px 0px 10px 0px;}
.add_d_plans h3,.add_plans h3 {
  font-size: 17px;
  margin: 0px;
  font-family:Arial,Helvetica,sans-serif;
  padding: 10px 0px 20px 0px;
}
.add_d_plans h2 span,.add_plans h2 span{  font-size:30px;
   font-family:Arial,Helvetica,sans-serif;
  color: #1093c1;}
  .about_wrapper {
  width: 100%;
  display: inline-block;
}
  .about_heading h1{color:#2e2e2e;text-align:center;font-size:47.45px;font-family:'TrebuchetMS-Bold';}
  .into_text h3{font-size:28.45px;color:#444444;font-family:'TrebuchetMS-Bold';} 
  .into_text p{color:#777;font-size:14px;font-family: Arial,Helvetica,sans-serif; padding-bottom:35px;text-align: justify;}
  .our_company_text {
  width: 100%;
  display: inline-block;
  margin: 0px;
  padding: 35px 0px 0px 0px;
}
.icon_text_gallery{background:url(../images/back_box.png)no-repeat top center;margin:0px 15px 0px 15px;  background-size:cover;background-size: 100% 100%;}
  .icon_text_gallery a {
  text-align: CENTER;
  display: block;
  padding-top: 25px;
}
.icon_text_gallery a:hover .pop_hover {
  opacity: 1;
}
.icon_text_gallery .pop_hover {
  left: 0;
  margin-top: -210px;
  opacity: 0;
  transition: all 1s ease;
}
.icon_text_gallery .pop_a:hover{-webkit-transform: scale(1.1);transform: scale(1.1);}
  .icon_text_gallery .pop_a{-webkit-transition:all 0.7s ease;transition:all 0.7s;}
  .icon_text_gallery h3 {
  text-align: center;font-size:17.45px;color:#454545;font-family:'TrebuchetMS-Bold'; background: rgba(0, 0, 0, 0) url("../images/box_bottom.png") no-repeat scroll center 43px;
  padding-top:15px;
  margin: 0 0 -3px;
  padding-bottom: 19px;
  position: relative;
  z-index: 999;
}
.icon_text_gallery p{font-size:13px!important;color:#777777!important;font-family: Arial,Helvetica,sans-serif;padding:15px 20px 0px;text-align: justify;}
.into_text {
  padding-left: 20px;
}
.our_company_text {
  padding-left: 20px;
}
.our_company_text p{font-size:13px!important;color:#777777!important;font-family: Arial,Helvetica,sans-serif;text-align: justify;}
.our_company_text h3{color:#444;font-size:28.45px;font-family:'TrebuchetMS-Bold';}
.about_box {
  width: 100%;
  display: inline-block;
}
.our_company_text a{font-size:14px;color:#09769c;font-family: Arial,Helvetica,sans-serif; text-decoration:none;}
.about_heading h1 {
  background: rgba(0, 0, 0, 0) url("../images/a_bottom.png") no-repeat scroll center 56px;
  display: inline-block;
  margin: 0 0 -3px;
  padding-bottom: 19px;
  position: relative;
  z-index: 999;}
  .about_heading {
  text-align: center;
}
/*new portfilo gallrey*/
.pf_gallery_new img {
  overflow: hidden;
  max-width: 100%;
  -webkit-transition:all 0.7s ease;transition:all 0.7s;
}
.img_port_e{width:100%; overflow:hidden;  position:relative;}
/*.effect_b {
  width: 100%;
  position: absolute;
  top: 27px;
  background-color: #5e9faa;
  display: inline-block;
  left: 0px;
  top: 0px;
  bottom: 0px;
  padding-top:43px;
  opacity: 0;
   -webkit-transition:all 0.7s ease;transition:all 0.7s;
}*/.pf_gallery_new .img_port_e:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.pf_gallery_new {
  position: relative;
}
.img_port_e:hover .effect_b{opacity:1;}
h3.learn_effect {
  background-color:#09769c;
  padding:13px 0px;
  
  line-height: 19px;
  opacity: 0.7;
}
.effect_b h3 {
 font-size: 18.45px;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  margin:0px;
}
.effect_b {
   position: absolute;
  text-align: center;
  width: 100%;
  display: block;
  opacity: 0;
  bottom:0px;
  
}
.pf_gallery_new h1 {
  font-size: 19px;
  text-align: left;
   font-family:'TrebuchetMS-Regular';
   color:#333;
}
.pf_gallery_new p {
  font-size: 14px;
  color:#555;
  text-align: justify;
  font-family: Arial,Helvetica,sans-serif;
}

@media (min-width:320px) and (max-width:1000px) {
.welcomebox .leftbox {
    float: none;
    margin: auto;
    min-height: 80px;
    width: 434px;
}
.welcomebox .rightbox {
    float: none;
    margin: auto;
    width: 445px;
}
.welcomebox{width:100%;}
.heading_text {
    padding-left: 20px;
}
.footer .col-md-2 {
    float: left!important;
    width: 20% !important;
}
.container{width:100%!important;}
.f_text_link {
    padding-left: 30px;
}

.ft_middle .col-md-6 {
    width: 100%!important;
}
.button_wrap {
    margin: auto;
    width: 68%!important;
}
.icon_ff {
    color: #fff;
    float: none;
    font-family:'TrebuchetMS-Regular';
    font-size: 15px;
    margin: 36px auto;
    
    width: 250px !important;

}
.right_ab p{text-align:center!important;}
.pf_gallery > ul{width:250px;margin:auto!important;}
.server_basic{margin:35px!important;}
}


@media (min-width:550px) and (max-width:1000px) {
.server_box {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 100%;
}
.server_basic {
    margin:30px auto!important;
    width: 500px!important;
}
.server_basic .col-md-6 {
    float: left!important;
    width: 50%!important;
}
.plan_text li {
    text-align: left!important;
}
}

@media (min-width:768px) and (max-width:1000px) {
.server_ded_box .col-md-4,.server_icon_box .col-md-4 {
    float: left;
    width: 33%!important;
	padding-left:15px;
}
}
@media (min-width:550px) and (max-width:768px) {
.server_ded_box .col-md-4,.server_icon_box .col-md-4 {
    float: left!important;
    padding: 10px 0 0 15px;
    width: 48%!important;
}
}
@media (min-width:320px) and (max-width:550px) {
.button_wrap .input-group input{width:70%!important;}
.welcomebox ul img {
    float: none;
    padding: 12px 20px 6px 0;
}
.welcomebox .rightbox {width:100%;}
.welcomebox .leftbox{width:100%;}
.table_plan h1{font-size:24px!important;}
.img_box_s {
  
  
   
    background-size: 100% 100%;
   
    margin: auto auto 20px;
    position: relative;
    text-align: center;
    width: 84%;
	height:auto!important;
	top:0px!important;
}
.server_box{text-align:center;}
.server_basic{text-align:left;
    margin: 15px !important;
}
.plan_text li{padding-right:6px;}
.server_img_box {
    margin: 10px auto;
    width: 72%!important;
}
.server_icon_box .col-md-4 {
    margin: 10px auto auto;
    width: 100%!important;
}
.button_wrap {
    margin: auto;
    width: 85% !important;
}
.icon_ff {
    width: 250px !important;
}
}
/* portfolio */

.portfolio_detaile{
    display:inline-block;
    width:100%;
background:url(../images/box1bg.png)repeat-x left top #fff;
  box-shadow:0px 5px 5px #cacdd1; margin-bottom: 50px;
    margin-top: 50px;}
 .heading_p h1 {
    color: #05779f;
    font-family: "Roboto-Regular";
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    padding-left: 30px;
    padding-top: 20px;
}
  .por_text p {
    color: #6f6f6f;
    font-family: "Roboto-Regular";
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 21px;
    margin: 0;
    padding:8px 50px 0 0;
	text-align: justify;
}
  .p_img img {
    cursor: pointer;
    padding: 20px 0 0 20px;
}
.por_text h2 {
    color: #05779f;
    font-family: "Roboto-Regular";
    font-size: 27px;
    line-height: 15px;
    padding: 10px 0 0;
}
.pf_slider {
    display: inline-block;
    width: 100%;
}
.pf_slider li {
    float: left;
    list-style: outside none none;
    padding-left: 20px;
}
.porfolio_slider {
    display: inline-block;
    margin-top: 50px;
    width: 100%;
	margin-bottom:20px;
}
.pf_slider ul{width:100%;}
.por_text h3 a {
    background: #05779f none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-family: "Roboto-Regular";
    font-size: 17px;
    padding: 5px 15px;
	text-decoration:none;
}
